# Database connection string
DB_URL=jdbc:mysql://localhost:3306/QuaTang?useSSL=false&serverTimezone=UTC
# Database username
DB_USERNAME=root
# Database password
DB_PASSWORD=secret
# Hibernate DDL Auto (update for dev, validate for prod)
DB_DDL_AUTO=update
# Show SQL logs
DB_SHOW_SQL=true
